<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
		<form class="form-horizontal m" id="form-dept-add">
			<input id="treeId" name="parentId" type="hidden"/>
			<div class="form-group">
				<label class="col-sm-3 control-label ">上级部门：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" onclick="selectDeptTree()" id="treeName" readonly="true" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">部门名称：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="name" id="name">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">显示排序：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="orderSeq">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">负责人：</label>
				<div class="col-sm-8">
					<!--
					<input class="form-control" type="text" name="leader">
					-->
					<select class="form-control select2-hidden-accessible" name="principalId" id="principalId">
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">联系电话：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="mobile" readonly="true">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">邮箱：</label>
				<div class="col-sm-8">
					<input class="form-control" type="text" name="email" readonly="true">
				</div>
			</div>

		</form>
	</div>
	<div th:include="include::footer"></div>
	<script th:src="@{/ruoyi/system/dept/dept.js}"></script>
	<script th:src="@{/ajax/libs/select/select2.js}"></script>
	<script type="text/javascript">
	$(function(){
		$("#principalId").select2({
		  ajax: {
		  	type: "post",
		  	delay:250,
			url: ctx + "system/user/list",
			dataType: 'json',
			data: function (params) {
			  return {
				username: params.term, // search term
				pageNum: params.page,
				pageSize: 20
			  };
			},
			processResults: function (data, params) {
			  params.page = params.page || 1;
			  //var _rows = [];
			  //for (item in data.msg.rows){
			  //	  _rows.push({id : item.id, text: item.username, mobile: item.mobile});
			  //}
			  return {
				results: data.msg.rows,
				pagination: {
				  more: (params.page * 20) < data.msg.total
				}
			  };
			},
			cache: true
		  },
		  placeholder: '请选择',
		  minimumInputLength: 0,
		  escapeMarkup: function (markup) { return markup; },
		  templateResult: formatRepo,
  		  templateSelection: formatRepoSelection
		});

		function formatRepo(repo){
			return repo.username;
			};

		function formatRepoSelection(repo){
			$('input[name="mobile"]').attr("value", repo.mobile);
			$('input[name="email"]').attr("value", repo.email);
			return repo.username;
		}
	});
	var prefix = ctx + "system/dept";
	$("#form-dept-add").validate({
		rules:{
			name:{
				required:true,
				remote: {
					url: prefix + "/checkDeptName",
					type: "post",
					dataType: "json",
					dataFilter: function(data, type) {
						return $.validate.unique(data);
					}
				}
			},
			orderSeq:{
				required:true,
				digits:true
			},
		},
		messages: {
			"name": {
				remote: "部门已经存在"
			}
		}
	});

	function submitHandler() {
		if ($.validate.form()) {
			$.operate.save(prefix + "/add", $('#form-dept-add').serialize());
		}
	}
	</script>
</body>
</html>
