<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nevsao.system.dept.mapper.DeptMapper">
  <resultMap id="deptMap" type="Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order_seq" jdbcType="INTEGER" property="orderSeq" />
    <result column="create_time"  property="createTime" />
      <result column="modify_time"  property="modifyTime" />
      <result column="principal_id" jdbcType="VARCHAR" property="principalId" />
      <result column="principal_nickname" jdbcType="VARCHAR" property="principalNickname" />
      <result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
      <result column="principal_email" jdbcType="VARCHAR" property="principalEmail" />
  </resultMap>

  <update id="changeToTop" parameterType="java.util.List">
  	update sys_dept set parent_id = null where id in ( select a.id from (
  	(select id from sys_dept where parent_id in
  	<foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
  		#{id}
  	</foreach>
  	) ) a )
  </update>
    <select id="findWithPrincipal" parameterType="Dept" resultMap="deptMap" >
        select d.id, d.parent_id, d.name, d.modify_time, d.principal_id,
        u.nickname as principal_nickname, u.mobile as principal_mobile, u.email as principal_email
        from sys_dept d
        left join sys_user u on d.principal_id = u.id
        <where>
            <if test="name != null and name != ''">
                and position(#{name} in name)
            </if>
        </where>
        order by d.order_seq desc, d.modify_time
    </select>

    <select id="getWithPrincipal" parameterType="java.lang.String" resultMap="deptMap" >
        select d.id, d.parent_id, d.name, d.modify_time, d.principal_id, d.order_seq,
        u.nickname as principal_nickname, u.mobile as principal_mobile, u.email as principal_email
        from sys_dept d
        left join sys_user u on d.principal_id = u.id
        where d.id = #{id}
    </select>

</mapper>