<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nevsao.system.domain.dict.mapper.DictMapper">
  <resultMap id="BaseResultMap" type="cn.nevsao.system.domain.dict.entity.Dict">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dict_key" jdbcType="INTEGER" property="dictKey" />
    <result column="dict_value" jdbcType="VARCHAR" property="dictValue" />
    <result column="column_name" jdbcType="VARCHAR" property="columnName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
  </resultMap>
</mapper>